<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        {{!-- take 10 space on medium device , else 12 in mobile --}}
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow Your Business With Us</p>
            <div class="row">
                  {{!-- left side --}}
              
                <div class="col-md-6 col-12 hero-text oder-md-0 order-1 d-flex  justify-content-center align-items-center flex-column ">
                    <h1>WE ARE PROFESSIONAL DEVELOPERS</h1>
                    <h1></h1>
                    <p>Welcome to <span class="bold-style" >TaTa Tech</span>
                    Your Number one source for all things. We're dedicated to giving you the very best of work.
                    With a focus on 3 characteristics i.e dependability , Customer Service and Uniqueness. 
                    </p>
                    <button class="btn-style btn-primary">Read mode</button>
                </div>
                <div class="col-md-6 col-12 hero-text oder-md-1 order-0">
                    <figure>
                        <img src="about.svg" alt="Image was supposed to be here">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>